In [ ]:
"""
Purpose: 
To extract the segment_ids from the data
given by princeton that has a nucleus_id associated
"""

In [1]:
from os import sys
sys.path.append("/meshAfterParty/")

In [2]:
import system_utils as su

In [ ]:
minnie_data = su.load_object("nuc_detection_minnie65_phase3_vAug1.pkl")

In [ ]:
type(minnie_data)

In [ ]:
import pandas as pd

In [ ]:
import pandas_utils as pu

In [ ]:
minnie_data[minnie_data["flat_nuc_id"]==373879]

In [ ]:
valid_nuc_id_table = minnie_data[minnie_data["flat_nuc_id"]>0]

In [ ]:
valid_root_id = minnie_data[minnie_data["root_id"]>0]

In [ ]:
len(valid_nuc_id_table),len(minnie_data),len(valid_root_id)

In [ ]:
total_root_id = valid_root_id["root_id"].to_numpy()

In [ ]:
total_root_id.shape

In [ ]:
import numpy as np
unique_root_ids = np.unique(total_root_id)
unique_root_ids

In [ ]:
np.savez("unique_root_ids.npz",segment_ids=unique_root_ids)

In [ ]:
new_seg_ids_files = np.load("unique_root_ids.npz",allow_pickle=True)
new_seg_ids = new_seg_ids_files["segment_ids"]

In [ ]:
new_seg_ids

# whole process

In [5]:
import numpy as np

In [3]:
minnie_data = su.load_object("nuc_detection_minnie65_phase3_vAug1.pkl")
minnie_data

,cleft_segid,size,centroid_x,centroid_y,centroid_z,bbox_bx,bbox_by,bbox_bz,bbox_ex,bbox_ey,bbox_ez,flat_nuc_id,svid,root_id
0,373879,1397980,14301,14986,19593,14239,14914,19496,14365,15054,19683,373879,96218056992431305,864691135233113689
1,601340,2600940,21250,17447,20946,20996,17383,20850,21539,17532,21052,601340,0,0
2,201858,572228,9178,13350,26267,9061,13297,26185,9283,13384,26359,201858,84955554103121097,864691135373893678
3,600774,825133,21195,17257,19442,21107,17181,19303,21296,17345,19614,600774,0,0
4,408486,632850,15314,15276,25074,15276,15230,24976,15351,15334,25164,408486,98470544672326786,864691135194387242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142612,598753,4834169,20786,16826,20733,20610,16747,20543,21005,16903,20947,598753,110506897924419051,864691134862564098
142613,111162,4883214,6584,8150,26721,6458,7978,26588,6729,8329,26867,111162,79244553336439324,864691134912248365
142614,795176,5055696,25717,13146,25091,25532,13053,24988,25946,13230,25264,795176,0,0
142615,528334,5472349,18663,12718,15267,18467,12442,14937,18833,12884,15469,528334,105853763977767516,864691134988413818
142616,267033,6554457,10912,12913,20768,10801,12822,20566,11029,13002,20935,267033,88754572197489327,864691135385333589

In [6]:
valid_root_id = minnie_data[minnie_data["root_id"]>0]
total_root_id = valid_root_id["root_id"].to_numpy()
unique_root_ids = np.unique(total_root_id)
np.savez("unique_root_ids.npz",segment_ids=unique_root_ids)

In [8]:
new_seg_ids_files = np.load("unique_root_ids.npz",allow_pickle=True)
new_seg_ids = new_seg_ids_files["segment_ids"]
new_seg_ids.shape

(114784,)