In [ ]:
"""
Purpose: To see if can look at some of the
inhibitory cells and their predecessors



"""

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from os import sys
sys.path.append("/meshAfterParty/meshAfterParty/")

In [3]:
from annotationframeworkclient import FrameworkClient
from IPython import html, display
from os import sys
sys.path.append("/meshAfterParty")
import pandas as pd
import numpy as np

/usr/local/lib/python3.6/dist-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated since IPython 4.0. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [ ]:
"""
https://minniev1.microns-daf.com/annotation/views/aligned_volume/minnie65_phase3/table/allen_v1_column_proofreading
https://minniev1.microns-daf.com/annotation/views/aligned_volume/minnie65_phase3/table/allen_v1_column_types_v2
minnie65_phase3 allen_soma_coarse_cell_class_model_v2 #has the cell type classifications
allen_soma_coarse_cell_class_model_v1 # cell type classifications
"""

# Looking at the table

In [4]:
import allen_utils as alu

INFO - 2021-06-01 17:48:26,280 - settings - Setting database.host to at-database.ad.bcm.edu
INFO - 2021-06-01 17:48:26,281 - settings - Setting database.user to celiib
INFO - 2021-06-01 17:48:26,282 - settings - Setting database.password to newceliipass

In [8]:
import system_utils as su
aug_nuc_df = su.load_object("/meshAfterParty/nuc_detection_minnie65_phase3_vAug1")
aug_nuc_df

,cleft_segid,size,centroid_x,centroid_y,centroid_z,bbox_bx,bbox_by,bbox_bz,bbox_ex,bbox_ey,bbox_ez,flat_nuc_id,svid,root_id
0,373879,1397980,14301,14986,19593,14239,14914,19496,14365,15054,19683,373879,96218056992431305,864691135233113689
1,601340,2600940,21250,17447,20946,20996,17383,20850,21539,17532,21052,601340,0,0
2,201858,572228,9178,13350,26267,9061,13297,26185,9283,13384,26359,201858,84955554103121097,864691135373893678
3,600774,825133,21195,17257,19442,21107,17181,19303,21296,17345,19614,600774,0,0
4,408486,632850,15314,15276,25074,15276,15230,24976,15351,15334,25164,408486,98470544672326786,864691135194387242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142612,598753,4834169,20786,16826,20733,20610,16747,20543,21005,16903,20947,598753,110506897924419051,864691134862564098
142613,111162,4883214,6584,8150,26721,6458,7978,26588,6729,8329,26867,111162,79244553336439324,864691134912248365
142614,795176,5055696,25717,13146,25091,25532,13053,24988,25946,13230,25264,795176,0,0
142615,528334,5472349,18663,12718,15267,18467,12442,14937,18833,12884,15469,528334,105853763977767516,864691134988413818
142616,267033,6554457,10912,12913,20768,10801,12822,20566,11029,13002,20935,267033,88754572197489327,864691135385333589

In [10]:
alu.configure_client(107)

# Allen V1 Column Proofreading

In [50]:
proofreading_df = alu.client.materialize.query_table('allen_v1_column_proofreading')
clean_proofread = proofreading_df[proofreading_df["cell_type"] == "clean"]
len(clean_proofread)

88

In [49]:
# get the nucelus table
nuc_df = alu.client.materialize.query_table(alu.nucleus_table)
len(nuc_df)

144120

In [51]:
proof_with_nucl = pd.merge(clean_proofread,nuc_df,left_on="pt_root_id",right_on="pt_root_id")
len(proof_with_nucl)

88

In [52]:
proof_with_nucl

,id_x,valid_x,classification_system,cell_type,pt_supervoxel_id_x,pt_root_id,pt_position_x,id_y,valid_y,pt_supervoxel_id_y,volume,pt_position_y
0,6,t,allen_column_proofreading,clean,88468836747612860,864691135491415647,"[172512, 175280, 21964]",262898,t,88468836747612860,230.092308,"[172512, 175280, 21964]"
1,21,t,allen_column_proofreading,clean,88607512718239945,864691136443917699,"[173360, 159856, 22024]",260718,t,88607512718239945,206.650245,"[173360, 159856, 22024]"
2,1373,t,allen_column_proofreading,clean,88955645453268928,864691135269913253,"[175792, 131824, 21078]",258234,t,88955645453268928,384.219709,"[175792, 131824, 21078]"
3,1387,t,allen_column_proofreading,clean,88742890087722824,864691135403927534,"[174448, 119904, 22272]",256622,t,88742890087722824,295.419249,"[174448, 119904, 22272]"
4,52,t,allen_column_proofreading,clean,89589376669051726,864691135428608048,"[180752, 135200, 22612]",294649,t,89589376669051726,353.146470,"[180752, 135200, 22612]"
...,...,...,...,...,...,...,...,...,...,...,...,...
83,1392,t,allen_column_proofreading,clean,88050472505715355,864691136361695970,"[169008, 203792, 21087]",267006,t,88050472505715355,407.781212,"[169008, 203792, 21087]"
84,1393,t,allen_column_proofreading,clean,88690663285159822,864691136041321302,"[174064, 254832, 22081]",273805,t,88690663285159822,319.236342,"[174064, 254832, 22081]"
85,1394,t,allen_column_proofreading,clean,90440673345651363,864691135526220635,"[186656, 186400, 21142]",301101,t,90440673345651363,260.594893,"[186656, 186400, 21142]"
86,1395,t,allen_column_proofreading,clean,90940538752561325,864691136123919654,"[190288, 240432, 20878]",306794,t,90940538752561325,404.010435,"[190288, 240432, 20878]"
87,1396,t,allen_column_proofreading,clean,90588695232730561,864691135446864980,"[187824, 240512, 22174]",306988,t,90588695232730561,360.815985,"[187824, 240512, 22174]"

In [54]:
manual_labels_df = alu.get_table(alu.manual_cell_type_table)
manual_labels_df["cell_type"]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: 'pyarrow.deserialize' is deprecated as of 2.0.0 and will be removed in a future version. Use pickle or the pyarrow IPC functionality instead.
  """Entry point for launching an IPython kernel.

,id,valid,classification_system,cell_type,pt_supervoxel_id,pt_root_id,pt_position
0,2001,t,aibs_coarse_nonneuronal,Unsure,88612666544959289,864691135478279110,"[173408, 197888, 21116]"
1,2002,t,aibs_coarse_nonneuronal,Unsure,88684134801077737,864691134843180786,"[173760, 206336, 21418]"
2,2003,t,aibs_coarse_nonneuronal,Unsure,87904031166929659,864691135602884751,"[168208, 161344, 20342]"
3,2004,t,aibs_coarse_nonneuronal,Unsure,90231491325802647,864691136023822905,"[185008, 200592, 21899]"
4,2005,t,aibs_coarse_nonneuronal,Unsure,90942669056213426,864691135334496745,"[190224, 256336, 20809]"
...,...,...,...,...,...,...,...
2199,1974,t,aibs_coarse_nonneuronal,Unsure,0,0,"[182720, 83072, 22352]"
2200,1975,t,aibs_coarse_nonneuronal,Unsure,90862129896837224,864691136723304189,"[189792, 180736, 21493]"
2201,1976,t,aibs_coarse_nonneuronal,Unsure,89666273629397531,864691135617786767,"[180944, 183696, 21650]"
2202,1977,t,aibs_coarse_nonneuronal,Unsure,91280425284322164,864691135184873740,"[192816, 151744, 20718]"
2203,1905,t,aibs_coarse_nonneuronal,Unsure,90726340344497847,864691135590067467,"[188832, 217776, 22067]"

In [59]:
proof_with_nucl_and_labels = pd.merge(proof_with_nucl,manual_labels_df,left_on="pt_root_id",
                                     right_on="pt_root_id")
cell_type_df = proof_with_nucl_and_labels[["cell_type_x","pt_root_id","cell_type_y","id_y"]]
cell_type_df

   cell_type_x          pt_root_id cell_type_y    id_y
0        clean  864691135491415647         BPC  262898
1        clean  864691136443917699         BPC  260718
2        clean  864691135269913253          BC  258234
3        clean  864691135403927534          BC  256622
4        clean  864691135428608048          BC  294649
..         ...                 ...         ...     ...
83       clean  864691136361695970          MC  267006
84       clean  864691136041321302          BC  273805
85       clean  864691135526220635          BC  301101
86       clean  864691136123919654          BC  306794
87       clean  864691135446864980          BC  306988

[88 rows x 4 columns]

In [60]:
cell_type_df["cell_type_y"].to_numpy()

array(['BPC', 'BPC', 'BC', 'BC', 'BC', 'BC', 'Unsure', 'BPC', 'BPC',
       'BPC', 'BPC', 'BPC', 'BC', 'BPC', 'BC', 'NGC', 'BPC', 'BPC', 'NGC',
       'BPC', 'BPC', 'BPC', 'BC', 'MC', 'BC', 'BPC', 'BPC', 'BPC', 'BPC',
       'BPC', 'BPC', 'BPC', 'BPC', 'BPC', 'BPC', 'BPC', 'BPC', 'BPC',
       'BPC', 'BPC', 'BPC', 'BPC', 'BPC', 'MC', 'BC', 'BC', 'BC', 'NGC',
       'MC', 'MC', 'BC', 'BC', 'BC', 'BC', 'BC', 'BC', 'BC', '5P_PT',
       'BC', 'BC', 'BC', 'BC', 'BC', 'BC', 'BC', 'BC', 'BC', 'BC', 'BC',
       'BC', 'BC', 'BC', 'NGC', 'BC', 'BC', 'BC', 'BC', 'BC', 'BC', 'BC',
       'MC', 'BC', 'BC', 'MC', 'BC', 'BC', 'BC', 'BC'], dtype=object)

# Notes on Ground Truth

In [ ]:
"""
For Martinotti Cells:
864691135467660940 had no errors

864691135212863360 has errors
"""

In [ ]:
import allen_utils as alu

In [ ]:
alu.segment_id_to_pre_post_syn_neuroglancer(864691135212863360,
                                           output_type="server")

In [ ]:
import proofreading_utils as pru
pru.ipython_html_object_to_link(Out[13])